\documentclass{article}
\usepackage{neurips_paper}

\npTitle{@@title@@}
\npAuthors{@@authors@@}
\npAffil{@@affil@@}
\npEmail{@@email@@}

\begin{document}

\npmaketitle{@@abstract@@}

@@sections@@

\bibliographystyle{plainnat}
\bibliography{refs}

\end{document}
